[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=1.1"
beautifulsoup4 = "~=4.9"
dateparser = "~=1.0"
html5lib = "~=1.0"
webvtt-py = "~=0.4"
requests = "~=2.23"
requests-cache = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
rope = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
