[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "~=4.9"
html5lib = "~=1.0"
webvtt-py = "~=0.4"
requests = "~=2.23"
requests-cache = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"
pydantic = "*"
debugpy = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
rope = "*"
pytest = "*"
mypy = "*"
subtitles = {editable = true, path = "."}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
