[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=1.1"
beautifulsoup4 = "~=4.9"
dateparser = "~=0.7"
html5lib = "~=1.0"
webvtt-py = "~=0.4"
requests = "~=2.23"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
rope = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
