{% extends "base.html" %}
{% block content %}
  {{ nav.navbar() }}
  <h2>{{ title }}</h2>
  {% for season in seasons %}
  <div>
    {{ season['title'] }}
    <div>
      <ul class="episode-list">
        {% for episode in season['episodes']  %}
        <li class="episode">
          <div>
            <div>
              <a href="{{ episode['link'] }}">
                <span class="title">{{ episode['title'] }}</span>
              </a><br />
              <span class='subtitle'>{{ episode['subtitle'] }}</span>
            </div>
            <div>
              <img src="{{ episode['image']['url'] }}" width="{{ episode['image']['width'] }}"/>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
{% endblock %}